/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    --clr-dark: 195 4% 18%;
    --clr-gray: 48 3% 68%;
    --clr-blue: 202 23% 30%;
    --clr-tan: 35 34% 87%;
    --clr-white: 0 0% 100%;

    --ff-primary: 'Roboto', sans-serif;
    --ff-heading: 'Oswald', sans-serif;
    --ff-accent: 'Raleway', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End of reset */
/* ----------------------------------------------------------- */

/* Setting Up Fonts -Kevin Powell */
body{
    font-family: var(--ff-primary);
    font-weight: 400;
    /* font-size in figma is 14px. 1rem is 16px so this is a little larger */
    font-size: 1rem; 
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--ff-heading);
    font-weight: 700;
    line-height: 1;
}

/* ------------------- */
/* Utility classes     */
/* Kevin Powell Scrimba */
/* ------------------- */

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem); 
    /* --gap is a custom property that has not been defined yet */
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* I modified this with the KP Responsive design made easy video */
.container {
    /* padding-inline: 2em; */
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.container--narrow {
    max-width: 34rem;
}

/* from KP responsive design made easy video */
section,
footer {
    padding: 3rem 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* colors */
.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-gray { background-color: hsl( var(--clr-gray) );}
.bg-blue { background-color: hsl( var(--clr-blue) );}
.bg-tan { background-color: hsl( var(--clr-tan) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-gray { color: hsl( var(--clr-gray) );}
.text-blue { color: hsl( var(--clr-blue) );}
.text-tan { color: hsl( var(--clr-tan) );}
.text-white { color: hsl( var(--clr-white) );}


/* --------------------------------------------- */

/* My CSS */

body{
    /* I believe all of this is from a temp background image I was using which is no longer needed */
    /* ------------------------------------------------------------------------------------------- */
    /* background-image:url("beach.jpeg");
    background-attachment:fixed;
    background-repeat: repeat;
    background-size: cover; */
    /* ------------------------------------------------------------------------------------------- */

    overflow-x: hidden;
}

/* Virus Alet Box */
.virus-alert {
	background: #ec2e57;
	color: #fff;
	width: 100%;
    margin-bottom: 1px;
	padding: 5px 10px;
	font-weight: bold;
}
.virus-alert a {
	color: #fff;
    text-decoration: underline;
    font-weight: 400;
}

/* primary header */
/* Following Kevin Powell */
.logo {
    /* margin: 1rem; */
    max-width: 10rem;
    min-width: 10rem;
}

.logo img {
    max-width: 100%;
    max-height: auto;
    display: block;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0 0% 0% / 0.5);
}
/* If @supports doesnt work, it defaults to the above^ */

 /* This backdrop filter is currently not supported on all browsers...check to make sure this is still readable in different browsers, this @supports check to see if it is compatible with different browsers, if not it defaults to the .primary-navigation above this */

 /* Backdrop filter is not supported on firefox so it defaults to line 211 .primary navigation background above */
@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(0.5rem);
    }
}

.primary-navigation a {
    text-decoration: none;
    /* color: #fff; */
    color: var(--clr-dark);
    font-size: 2rem;
}


/* This is the mobile nav media query, kevin powell uses max-width for nav media queries */
@media (max-width: 35em) { 
    /* Kevin arbitrarily uses 35em above, I might need to change it to fit my project */
    .primary-navigation {
        --gap: 3em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        /* This padding is explained at the 14 minute mark */

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    /* see comment in html for explanation of data-visible */

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("menu_white_24dp.svg");
        /* consider putting this svg into the actual html because it seems like it is difficult to style it this way */
        background-size: 75%;
        background-repeat: no-repeat;
        border: 0;
        width: 5rem;
        aspect-ratio: 1;
        top: 5rem;
        right: 1rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("close_white_24dp.svg");
    }
    /* not sure if I set up the ari-expanded properly for screen readers, revisit kevin powell navbar video */
}

/* This is the large screen media query, kevin powell uses min-width for these */
/* for some reason this shrinks my logo...figure this out! ... I fixed this by putting a min-width on the .logo above*/
/* now that I fixed logo, my nav gets cut off on the right size when resizing my screen smaller */
@media (min-width: 35em) {
    .primary-navigation {
        --gap: clamp(0.5rem, 5vw, 3rem);
        padding-block: 1rem;
        padding-inline: clamp(1rem, 5vw, 10rem);
    }
}





/* Notes from 11/27/21 after finishing the navbar:

    -go back through kevin powell navbar tutorial and consider adding in screen reader accessibility to the navbar
        -he does this through the menu button and attributes like "aria-expanded" 
    -add accessibility throughout the whole website once it is finished
    -add in custom fonts and sizing to better organize css(im afraid my media queries using em measurements might be weird without doing this
*/


