* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(226, 226, 226);
    /* background-image: /beach-video.mp4;
    background-size: cover; */
}

#videoBG {
    position: fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}
@media (max-width: 768px) {
    #videoBG {
        display: none;
    }
    body {
        background-image: url("beach-shot.png");
        background-size: 100vh 100vh;
    }
}

#sample-text {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    text-align: center;
    color:rgb(226, 226, 226);
    background-color: rgba(93, 73, 84, 0.7);
    z-index: 1;
    
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
}

.logo a {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    text-decoration: none;
}


.navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.navbar-item {
    list-style: none;
}

.navbar-item a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px; 
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1200px) {
    .navbar-nav {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .navbar-nav {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%); 
        /* Transform moves the navbar off the screen to the right hand side, and the above overflow-x hidden hides the transformed navbar so that you cannot scroll to it. */
        transition: transform 0.5s ease-in;
        z-index: 2;
    }

    .navbar-nav li {
        opacity: 0; 
        /* hides the navbar links at the load of page */
    }

    .burger {
        display: block;

    }

    
}

.navbar-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* Burger Animation */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}