* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(226, 226, 226);
    /* background-image: /beach-video.mp4;
    background-size: cover; */
}

.er {
    color: red;
}

#videoBG {
    position: fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}
@media (max-width: 768px) {
    #videoBG {
        display: none;
    }
    body {
        background-image: url("beach-shot.png");
        background-size: 100vh 100vh;
    }
}

#sample-text {
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    text-align: center;
    color:rgb(226, 226, 226);
    background-color: rgba(187, 207, 223, 0.4);
    z-index: 1;
    
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /* background-color: #5D4954; */
    /* background-color: #4f5885; */
    background-color: #3aa8e7;
    /* background code below is from uigradients website */
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #bbcfdf, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #bbcfdf, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.logo div {
    display: flex;
    flex-direction: column;
    /* just created this to spread out words... doesnt work yet */
}

.logo a {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    text-decoration: none;
}

.logo a img {
    max-height: 4em;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 122px;
}

.navbar-item {
    list-style: none;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-item a {
    /* color: rgb(226, 226, 226); */
    /* color: #dfe6e9; */
    color: #364156;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px; 
}

.navbar-item:hover {
    background-color: #ffaf00;

}

.navbar-item:hover a {
    color: #607094;
}

html, body, 


/* consider removing this class */
.current-nav {
    /* background-color: blue; */
    /* height: 100%; */
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* FOOTER CSS DIRECT COPY FROM GOOGLE HOMEPAGE PROJECT */
/* FOOTER NAV */
.footer-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: #f2f2f2; */
    /* background-color: #f2f2f2; THIS IS THE CORRECT COLOR */
    /* background code below is from uigradients website */
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #bbcfdf, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #bbcfdf, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-item {
    list-style: none;
    /* margin-right: 2rem; */
}

.footer-item a {
    text-decoration: none;
    color: #70757a;
}

.footer-item a:hover {
    text-decoration:underline;
}

.first-row {
    flex-grow: 1;
    width: 33%;
    text-align: center;

}

.line {
    /* background-color: #70757a; */
    flex-grow: 1;
    width: 100%;
    height: 1px;
    margin-top: 10px;
}

.line div {
    background-color: #70757a;
    width: 100%;
    height: 2px;
}

.second-row {
    flex-grow: 1;
    width: 14%;
    text-align: center;
}

/* .third-row {
    flex-grow: 1;
    width: 33%;
    text-align: center;
    margin-bottom: 7px;
} */

.skelDyn {
    max-width: 8em;
}
/* .footer-item:first-child {
    margin-left: 2rem;
} */

/* .footer-item:nth-child(4){
    margin-left: auto;
    margin-right: auto;
} */

/* .footer-item:nth-child(7){
    margin-right: 2rem;
} */

/* .footer-item a {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .footer-item a img {
    height: 0.9rem;
    width: auto;
    margin-right: 5px;
} */

/* -----------END DIRECT FOOTER COPY----------- */



@media screen and (max-width:1200px) {
    .navbar-nav {
        width: 60%;
    }
}

@media screen and (max-width:768px) {

    /* added .fix-scroll div to try and fix the mobile phone scroll, but not working */
    html, body {
        overflow-x: hidden; 
      }
    
    .fix-scroll {
        overflow-x: hidden;
    }  

    .navbar-nav {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(101%); 
        /* Transform moves the navbar off the screen to the right hand side, and the above overflow-x hidden hides the transformed navbar so that you cannot scroll to it. */
        transition: transform 0.5s ease-in;
        z-index: 2;
    }

    .navbar-nav li {
        opacity: 0; 
        /* hides the navbar links at the load of page */
    }

    .burger {
        display: block;

    }

    
}

.navbar-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* Burger Animation */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}